/* =========================== 
 nacessary css start
 ============================= */
 * {
    padding: 0px;
    margin: 0px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
body {
    background: #f9f9f9;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family: sans-serif;
}
.a {
    text-decoration: none;
}
.mid-contain {
    max-width: 850px;
    margin: auto;
}
.left-float {
    float: left;
}
.right-float {
    float: right;
}
/* =========================== 
 header css start
 ============================= */
.nav {
    padding: 20px 0px;
    max-height: 32px;
    margin-top: -3px;
}
.left {
    width: 25%;
}
.logo a img {
    height: 40px;
    width: auto;
    float: left;
}
.logo h2 {
    font-size: 20px;
    margin-left: 10px;
    display: inline-block;
    line-height: 37px;
}
.logo h2:hover {
    color: #fc3162;
}
.right {
    width: 75%;
    /* margin-left: 10px; */
}
.navll {
    text-align: right;
}
.right ul {
    list-style-type: none;
}
.right ul li {
    display: inline-block;
}
.right ul li a {
    font-size: 17px;
    font-weight: 200;
    text-decoration: none;
    color: #000;
    line-height: 20px;
    padding: 25px 14px;
}
.right ul li a:hover {
    color: #fc3162;
    background: #eeeeee;
}
/* =========================== 
 search css start
 ============================= */
.slector {
    padding: 65px 0px;
    background: rgb(255, 254, 254);
    border: 1px solid #ddd;
    max-height: 300px;
    border-radius: 10px;
}
.contain h1 {
    font-size: 30px;
    text-align: center;
}
.contain p {
    font-size: 15px;
    text-align: center;
    margin-top: 8px;
}
.contain p a {
    text-decoration: none;
    color: #fc4a47;
}
form {
    margin-top: 30px;
    text-align: center;
}
form input {
    padding: 15px 170px;
    font-size: 20px;
    text-align: center;
    border: 5px solid #fc4a47;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}
form a {
    text-decoration: none;
    background: #fc4a47;
    padding: 20px 20px;
    font-size: 20px;
    margin-left: -9px;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
}
form a:hover {
    background: #c10841;
}
form i {
    font-size: 18px;
}

.text-contain {
    padding: 40px 0px;
}
.text-contain h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.text-contain p {
    text-align: center;
    font-size: 18px;
    line-height: 1.7em;
}

/* =========================== 
 feature css start
 ============================= */

.feature {
    padding: 50px 0px;
}
.feature .left {
    width: 55%;
}
.feature .right {
    width: 40%;
}
.left strong {
    margin-bottom: 12px;
    font-size: 21px;
    display: inline-block;
}
.left ol li {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.right strong {
    margin-bottom: 12px;
    font-size: 21px;
    display: inline-block;
}
.right ul {
    list-style-type: square;
}
.right ul li {
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 8px;
}
/* =========================== 
 services css start
 ============================= */
.services {
    padding: 20px 0px;
}
.services span {
    font-size: 60px;
    text-align: center;
    display: block;
}
.services strong {
    font-size: 25px;
    color: #fc4a47;
    text-align: center;
    display: block;
    padding: 15px 0px;
}
.services h4 {
    font-size: 16px;
    text-align: center;
    display: block;
    margin-top: 10px;
    font-weight: 300;
    line-height: 1.4em;
}
.left-section {
    width: 48%;
}
.right-section {
    width: 48%;
}

/* =========================== 
 image css start
 ============================= */
.image-section {
    padding: 50px 0px;
}

.image img {
    margin: 15px 0px;
}

/* =========================== 
 footer css start
 ============================= */
.footer {
    padding: 30px 0px;
    margin-bottom: 48px;
}
.footer-center {
    text-align: center;
}
.footer p {
    margin-bottom: 30px;
}
.footer ul {
    list-style-type: none;
}
.footer ul li {
    display: inline-block;
}
.footer ul li a {
    padding: 0px 30px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.footer ul li a:hover {
    text-decoration: underline;
    color: #fc4a47;
}
